In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler, MinMaxScaler, OneHotEncoder, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.naive_bayes import GaussianNB
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [2]:
def run_all_models(X_train_scaled, X_test_scaled, y_train_encoded, y_test_encoded):
    models = {
        "LogisticRegression": LogisticRegression(),
        "SVC": SVC(),
        "DecisionTreeClassifier": DecisionTreeClassifier(random_state=42),
        "RandomForestClassifier": RandomForestClassifier(random_state=42),
        "KNeighborsClassifier": KNeighborsClassifier(),
        "GradientBoostingClassifier": GradientBoostingClassifier(random_state=42),
        "GaussianNB": GaussianNB(),
    }

    # Create an empty DataFrame to store accuracy
    model_performance = []

    for name, model in models.items():
        model.fit(X_train_scaled, y_train_encoded)
        predictions = model.predict(X_test_scaled)
        accuracy = accuracy_score(y_test_encoded, predictions)
        print(f"{name} Accuracy:", accuracy)
        model_performance.append({"Model": name, "Accuracy": accuracy})

    # For the Sequential model
    sequential_model = Sequential()
    sequential_model.add(Dense(64, input_dim=X_train_scaled.shape[1], activation='relu'))
    sequential_model.add(Dense(32, activation='relu'))
    sequential_model.add(Dense(1, activation='sigmoid'))
    sequential_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
    sequential_model.fit(X_train_scaled, y_train_encoded, epochs=50, batch_size=10, verbose=1)
    loss, accuracy = sequential_model.evaluate(X_test_scaled, y_test_encoded)
    print(f"Sequential Model Accuracy: {accuracy}")
    print(f"Sequential Model Loss: {loss}")
    model_performance.append({"Model": "Sequential", "Accuracy": accuracy})

    return pd.DataFrame(model_performance)

In [3]:
df = pd.read_csv("healthcare_dataset.csv")
df

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Tiffany Ramirez,81,Female,O-,Diabetes,2022-11-17,Patrick Parker,Wallace-Hamilton,Medicare,37490.983364,146,Elective,2022-12-01,Aspirin,Inconclusive
1,Ruben Burns,35,Male,O+,Asthma,2023-06-01,Diane Jackson,"Burke, Griffin and Cooper",UnitedHealthcare,47304.064845,404,Emergency,2023-06-15,Lipitor,Normal
2,Chad Byrd,61,Male,B-,Obesity,2019-01-09,Paul Baker,Walton LLC,Medicare,36874.896997,292,Emergency,2019-02-08,Lipitor,Normal
3,Antonio Frederick,49,Male,B-,Asthma,2020-05-02,Brian Chandler,Garcia Ltd,Medicare,23303.322092,480,Urgent,2020-05-03,Penicillin,Abnormal
4,Mrs. Brandy Flowers,51,Male,O-,Arthritis,2021-07-09,Dustin Griffin,"Jones, Brown and Murray",UnitedHealthcare,18086.344184,477,Urgent,2021-08-02,Paracetamol,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,James Hood,83,Male,A+,Obesity,2022-07-29,Samuel Moody,"Wood, Martin and Simmons",UnitedHealthcare,39606.840083,110,Elective,2022-08-02,Ibuprofen,Abnormal
9996,Stephanie Evans,47,Female,AB+,Arthritis,2022-01-06,Christopher Yates,Nash-Krueger,Blue Cross,5995.717488,244,Emergency,2022-01-29,Ibuprofen,Normal
9997,Christopher Martinez,54,Male,B-,Arthritis,2022-07-01,Robert Nicholson,Larson and Sons,Blue Cross,49559.202905,312,Elective,2022-07-15,Ibuprofen,Normal
9998,Amanda Duke,84,Male,A+,Arthritis,2020-02-06,Jamie Lewis,Wilson-Lyons,UnitedHealthcare,25236.344761,420,Urgent,2020-02-26,Penicillin,Normal
9999,Eric King,20,Male,B-,Arthritis,2023-03-22,Tasha Avila,"Torres, Young and Stewart",Aetna,37223.965865,290,Emergency,2023-04-15,Penicillin,Abnormal

In [4]:
df.isna().sum()

Name                  0
Age                   0
Gender                0
Blood Type            0
Medical Condition     0
Date of Admission     0
Doctor                0
Hospital              0
Insurance Provider    0
Billing Amount        0
Room Number           0
Admission Type        0
Discharge Date        0
Medication            0
Test Results          0
dtype: int64

In [6]:
df.duplicated().sum()

0

In [7]:
df.dtypes

Name                   object
Age                     int64
Gender                 object
Blood Type             object
Medical Condition      object
Date of Admission      object
Doctor                 object
Hospital               object
Insurance Provider     object
Billing Amount        float64
Room Number             int64
Admission Type         object
Discharge Date         object
Medication             object
Test Results           object
dtype: object

In [8]:
for col in df.columns:
  print("---------------------")
  print(f"Col is: {col}")
  print(df[col].value_counts())
  print(df[col].unique())
  print(df[col].nunique())

---------------------
Col is: Name
Name
Michael Johnson        7
James Johnson          6
Michael Miller         4
Michelle Williams      4
Scott Smith            4
                      ..
Sharon Rose            1
Stephanie Knox         1
Anthony Jones          1
Melissa Perkins DVM    1
Eric King              1
Name: count, Length: 9378, dtype: int64
['Tiffany Ramirez' 'Ruben Burns' 'Chad Byrd' ... 'Christopher Martinez'
 'Amanda Duke' 'Eric King']
9378
---------------------
Col is: Age
Age
59    175
78    174
31    172
20    169
35    169
     ...
34    125
47    125
85    123
22    123
45    120
Name: count, Length: 68, dtype: int64
[81 35 61 49 51 41 82 55 33 39 45 23 85 72 65 32 64 66 80 79 54 26 70 74
 56 37 78 83 30 19 46 48 34 84 47 60 57 21 27 68 31 42 71 38 28 43 69 73
 67 44 20 59 76 40 36 29 53 77 24 75 25 62 52 50 22 63 58 18]
68
---------------------
Col is: Gender
Gender
Female    5075
Male      4925
Name: count, dtype: int64
['Female' 'Male']
2
---------------------
Col is: Blood Type
Blood Type
AB-    1275
AB+    1258
B-     1252
O+     1248
O-     1244
B+     1244
A+     1241
A-     1238
Name: count, dtype: int64
['O-' 'O+' 'B-' 'AB+' 'A+' 'AB-' 'A-' 'B+']
8
---------------------
Col is: Medical Condition
Medical Condition
Asthma          1708
Cancer          1703
Hypertension    1688
Arthritis       1650
Obesity         1628
Diabetes        1623
Name: count, dtype: int64
['Diabetes' 'Asthma' 'Obesity' 'Arthritis' 'Hypertension' 'Cancer']
6
---------------------
Col is: Date of Admission
Date of Admission
2019-04-12    15
2022-04-27    15
2021-10-23    14
2023-03-27    14
2022-10-01    14
              ..
2022-07-16     1
2022-06-15     1
2022-12-11     1
2022-10-28     1
2019-09-23     1
Name: count, Length: 1815, dtype: int64
['2022-11-17' '2023-06-01' '2019-01-09' ... '2020-07-03' '2022-02-19'
 '2022-07-29']
1815
---------------------
Col is: Doctor
Doctor
Michael Johnson      7
Robert Brown         5
Michelle Anderson    5
Matthew Smith        5
Jennifer Smith       5
                    ..
Sandra Howard        1
Steven Fuller        1
Benjamin Lawson      1
Allison Woods        1
Tasha Avila          1
Name: count, Length: 9416, dtype: int64
['Patrick Parker' 'Diane Jackson' 'Paul Baker' ... 'Robert Nicholson'
 'Jamie Lewis' 'Tasha Avila']
9416
---------------------
Col is: Hospital
Hospital
Smith PLC                        19
Smith and Sons                   17
Smith Ltd                        14
Smith Inc                        14
Johnson PLC                      13
                                 ..
Daniel-Benton                     1
Franco, Hicks and Anderson        1
Berry PLC                         1
Martinez, Johnson and Carlson     1
Torres, Young and Stewart         1
Name: count, Length: 8639, dtype: int64
['Wallace-Hamilton' 'Burke, Griffin and Cooper' 'Walton LLC' ...
 'Nash-Krueger' 'Wilson-Lyons' 'Torres, Young and Stewart']
8639
---------------------
Col is: Insurance Provider
Insurance Provider
Cigna               2040
Blue Cross          2032
Aetna               2025
UnitedHealthcare    1978
Medicare            1925
Name: count, dtype: int64
['Medicare' 'UnitedHealthcare' 'Aetna' 'Cigna' 'Blue Cross']
5
---------------------
Col is: Billing Amount
Billing Amount
37490.983364    1
33332.570385    1
19166.455615    1
26645.338403    1
45729.371668    1
               ..
37737.131216    1
39381.222526    1
47682.625945    1
31911.055695    1
37223.965865    1
Name: count, Length: 10000, dtype: int64
[37490.98336353 47304.06484548 36874.89699661 ... 49559.20290467
 25236.34476098 37223.96586473]
10000
---------------------
Col is: Room Number
Room Number
358    44
230    40
257    38
469    37
195    36
       ..
160    14
306    14
321    14
373    14
352    10
Name: count, Length: 400, dtype: int64
[146 404 292 480 477 180 161 384 215 310 306 126 444 492 120 315 475 125
 366 238 364 130 293 379 298 392 162 456 197 247 228 137 192 258 219 414
 110 465 469 182 119 388 412 359 186 437 132 271 361 303 317 439 153 438
 380 194 199 301 223 410 205 134 407 188 213 405 358 147 115 436 263 493
 460 356 142 139 482 141 397 347 245 143 108 268 176 462 484 329 335 201
 309 389 217 299 275 181 401 214 267 211 184 140 416 179 289 350 104 220
 464 419 445 398 336 413 145 148 432 430 406 295 175 409 424 168 136 459
 261 257 170 451 372 202 394 264 279 260 499 452 365 340 360 290 103 187
 378 334 470 252 450 106 259 344 489 276 155 455 425 400 127 333 443 129
 164 486 440 265 193 222 488 472 391 230 322 272 154 236 375 221 244 287
 243 370 237 234 458 226 478 204 196 294 297 280 374 216 135 225 152 270
 454 442 189 487 485 218 111 105 362 497 420 483 288 133 114 253 286 109
 390 207 411 324 357 283 471 274 353 311 490 368 284 242 209 433 116 278
 249 498 240 107 383 338 262 496 447 246 305 479 363 239 158 369 229 403
 349 476 144 330 291 325 224 386 428 174 101 382 435 235 474 467 118 206
 233 269 422 441 320 173 277 423 112 304 300 227 121 461 302 266 417 231
 171 150 323 457 449 418 151 195 332 183 312 172 285 250 494 354 210 308
 385 124 190 163 339 203 355 500 212 415 254 381 131 191 178 326 138 241
 481 313 156 402 248 331 341 495 208 377 343 427 296 165 200 123 468 273
 396 351 395 319 393 491 232 376 473 185 429 453 348 337 255 434 463 102
 316 345 399 314 408 159 251 157 169 387 448 431 149 282 198 307 281 373
 371 426 177 352 446 421 321 256 167 122 342 113 466 346 128 160 117 328
 367 318 327 166]
400
---------------------
Col is: Admission Type
Admission Type
Urgent       3391
Emergency    3367
Elective     3242
Name: count, dtype: int64
['Elective' 'Emergency' 'Urgent']
3
---------------------
Col is: Discharge Date
Discharge Date
2021-11-28    14
2020-10-08    13
2020-10-18    13
2022-08-17    13
2021-03-23    13
              ..
2018-11-16     1
2019-02-19     1
2018-12-27     1
2020-12-25     1
2023-11-27     1
Name: count, Length: 1834, dtype: int64
['2022-12-01' '2023-06-15' '2019-02-08' ... '2023-01-02' '2019-05-23'
 '2023-11-27']
1834
---------------------
Col is: Medication
Medication
Penicillin     2079
Lipitor        2015
Ibuprofen      1976
Aspirin        1968
Paracetamol    1962
Name: count, dtype: int64
['Aspirin' 'Lipitor' 'Penicillin' 'Paracetamol' 'Ibuprofen']
5
---------------------
Col is: Test Results
Test Results
Abnormal        3456
Inconclusive    3277
Normal          3267
Name: count, dtype: int64
['Inconclusive' 'Normal' 'Abnormal']
3